/* ABOUT LEAD */
.about-lead {
   padding: var(--section-padding);
}

.about-lead .container {
   display: flex;
}

.lead-img-wrapper {
   flex: 1 1 45%;
}

.lead-img-wrapper img {
   width: 100%;
}

.about-lead-title {
   flex: 1 1 55%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-transform: uppercase;
   margin-left: calc(2rem + 1vw);
}

.about-lead-title h2 {
   color: var(--c-mustard);
   letter-spacing: calc(2px + 0.30vw );
   margin-bottom: 1rem;
}

.about-lead-title h4 {
   font-size: var(--font-m);
   letter-spacing: 2px;
   line-height: 1.8;
}

/* ABOUT */
.about {
   background: var(--c-ghost-white);
   line-height: 2;
   padding: var(--section-padding);
}

.about .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: calc(3.5rem + 1vw);
}

/* ACHIEVEMENTS */
.achievements {
   padding: var(--section-padding);
}

.achievements .container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: calc(3rem + 1.5vw);
}

.achievements h3 {
   margin-bottom: calc(2rem + 0.75vw);
}

.achievements p {
   font-size: var(--font-s);
   line-height: 1.8;
}

@media (max-width: 800px) {
   /* ABOUT LEAD */
   .about-lead .container {
      flex-direction: column;
   }

   .lead-img-wrapper {
      padding: 0;
   }

   .about-lead-title {
      text-align: center;
      margin: 4rem 0 0 0;
   }

   /* ABOUT */
   .about .container {
      grid-template-columns: 1fr;
      text-align: center;
   }

   /* ACHIEVEMENTS */
   .achievements .container {
      grid-template-columns: 1fr;
   }
}