#contact-lead {
   height: 50rem;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(./../img/zz.jpg) no-repeat center center/ cover;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

#contact-lead h2 {
   color: var(--white);
   text-transform: uppercase;
   /* letter-spacing: 0.5rem; */
   /* margin-bottom: 3rem; */
   /* margin: 0 0 10rem 10rem; */
}

#contact-form {
   padding: 10rem 0;
}

#contact-form .form-wrapper {
   width: 60%;
   /* max-width: 1440px; */
   margin: 0 auto;
   /* border: 2px solid red; */
   /* text-align: center; */
}

.form-wrapper header {
   text-align: center;
}

form .form-control {
   display: flex;
   justify-content: space-between;
   margin-bottom: 5rem;
}

.form-control input {
   flex-basis: 45%;
   border: none;
   border-bottom: 1px solid var(--matte-black);
}

input::placeholder {
   font-family: 'Tenderness', sans-serif;
   font-size: var(--small-text);
   letter-spacing: 0.3rem;
   text-transform: uppercase;
   color: var(--matte-black);
}

input:focus {
   outline: none;
}

.form-control label {
   flex-basis: 45%;
}

label select{
   width: 100%;
}

form .checkboxes {
   margin-bottom: 5rem;
}

form .form-control-textarea textarea {
   width: 100%;
   resize: none;
   margin-bottom: 5rem;
}