/* CONTACT LEAD */
.contact-lead {
   padding: var(--padding-section);
}

.contact-lead.container {
   display: flex;
}

.lead-img-wrapper {
   flex: 1 1 45%;
}

.lead-img-wrapper img {
   width: 100%;
}

.contact-lead-title {
   flex: 1 1 55%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: calc(2rem + 1vw);
}

.contact-lead-title h2 {
   color: var(--clr-mustard);
   font-size: var(--fs-600);
   letter-spacing: calc(1px + 0.1vw);
   margin-bottom: 1rem;
}

.contact-lead-title p {
   font-style: italic;
   line-height: 1.8;
}

/* CONTACT FORM */
.contact {
   background-color: var(--clr-white-ghost);
   display: flex;
   justify-content: center;
   padding: var(--padding-section);
}

.form {
   width: 90%;
   max-width: 1080px;
}

/* Input field */
.form .form-input {
   display: flex;
   justify-content: space-between;
   margin-bottom: 4.5rem;
}

.form-input input {
   flex-basis: 45%;
   background-color: var(--clr-white-ghost);
   border: none;
   border-bottom: 1px solid var(--clr-black-matte);
   padding: 1rem 0;
}

input::placeholder {
   color: var(--clr-black-matte);
   letter-spacing: 2px;
}

input:focus {
   outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}

/* Select field */
.form .form-select {
   display: flex;
   justify-content: space-between;
   margin-bottom: 4.5rem;
}

.form-select label {
   flex-basis: 45%;
   letter-spacing: 2px;
}

.form-select select {
   appearance: none;
   background-color: var(--clr-white-ghost);
   color: var(--clr-black-matte);
   font-style: italic;
   letter-spacing: 2px;
   width: 100%;
   padding: 1rem;
   margin-top: 1rem;
}

select:focus {
   outline: none;
}

/* Radio field */
.form .form-radio {
   border: none;
   margin-bottom: 4.5rem;
}

.form-radio .coverage-question {
   font-size: var(--fs-400);
   letter-spacing: 2px;
   margin-bottom: 1.5rem;
}

.coverage-options label {
   cursor: pointer;
   letter-spacing: 1px;
}

.coverage-options label:nth-child(2) {
   margin: 0 2rem;
}

input[type="radio"]:checked {
   appearance: none;
   background-color: var(--clr-mustard);
   border: 1px solid var(--clr-mustard);
   border-radius: 50%;
   box-shadow: 0px 0px 0px 2px white inset;
   display: inline-block;
   height: 13px;
   width: 13px;
}

/* Textarea */
.form .form-textarea {
   margin-bottom: 4.5rem;
}

.form-textarea label {
   letter-spacing: 2px;
   margin-bottom: 1rem;
}

.form-textarea textarea {
   background-color: var(--clr-white-ghost);
   font-family: inherit;
   resize: none;
   width: 100%;
   padding: 1rem;
}

textarea::placeholder {
   font-style: italic;
   letter-spacing: 2px;
}

textarea:focus {
   outline: none;
}

.form .form-submit {
   display: flex;
   justify-content: center;
}

@media (max-width: 800px) {
   /* CONTACT LEAD */
   .contact-lead.container {
      flex-direction: column-reverse;
   }

   .contact-lead-title {
      margin: 4rem 0 0 0;
      text-align: center;
   }

   /* CONTACT FORM */

   /* Input field */
   .form .form-input {
      flex-direction: column;
      margin: 0;
   }

   .form-input input {
      margin-bottom: calc(3rem + 1vw);
   }

   /* Select field */
   .form .form-select {
      flex-direction: column;
      margin: 0;
   }

   .form-select label {
      margin-bottom: calc(3rem + 1vw);
   }

   /* Radio field */
   .form-radio .coverage-options {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   .coverage-options label:nth-child(2) {
      margin: 1.5rem 0;
   }
}
