
/* BASE SETTINGS */
*, 
*::before, 
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* Logo Fonts */
@font-face {
   font-family: 'Josefin Sans Thin';
   src: url(./../fonts/JosefinSans-Thin.ttf);
}

@font-face {
   font-family: 'Josefin Sans Light';
   src: url(./../fonts/JosefinSans-Light.ttf);
}

/* Heading Fonts */
@font-face {
   font-family: 'Tenderness';
   src: url(./../fonts/Tenderness.otf);
}

/* Text Fonts */
@font-face {
   font-family: 'Overpass Light';
   src: url(./../fonts/Overpass-Light.ttf);
}

@font-face {
   font-family: 'Overpass Regular';
   src: url(./../fonts/Overpass-Regular.ttf);
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   /* Header Sizes */
   --header1: calc(2rem + 1.25vw);
   --header2: calc(2.5rem + 1.25vw);
   --header3: calc(1.3rem + 1.25vw);
   --header4: calc(0.8rem + 0.5vw);
   /* Text Sizes */
   --text: calc(1rem + 0.5vw);
   --small-text: calc(0.8rem + 0.5vw);
   /* Colors */
   --white: #fff;
   --matte-black: #333;
   --bg-primary: #f4f2f1;
   --special-color: #ff971d;
   /* Padding & Margins */
   --section-padding: calc(5rem + 3vw) 0;
   --page-head-margin: calc(5rem + 2vw);
}

body {
   background: var(--white);
   color: var(--matte-black);
   font-family: 'Overpass Regular', sans-serif;
   line-height: 1.5;
}

h1 {
   font-family: 'Josefin Sans Thin', sans-serif;
   font-size: var(--header1);
   letter-spacing: calc(0.1rem + 0.25vw);
}

h2 {
   font-family: 'Tenderness', sans-serif;
   font-size: var(--header2);
   letter-spacing: calc(0.1rem + 0.30vw);
}

h3 {
   font-family: 'Tenderness', sans-serif;
   font-size: var(--header3);
   letter-spacing: calc(0.1rem + 0.10vw);
}

h4 {
   font-family: 'Tenderness', sans-serif;
   font-size: var(--header4);
   letter-spacing: calc(0.1rem + 0.10vw);
}

ul {
   list-style: none;
}

a {
   color: var(--matte-black);
   text-decoration: none;
}

p, span, li, a, label, input, button {
   font-size: var(--text);
}

/* MAIN NAVIGATION */
header .nav-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 4rem 2rem;
   text-transform: uppercase;
   background: var(--bg-primary);
}

.nav-wrapper .logo {
   margin-bottom: 4rem;
   text-align: center;
   pointer-events: none;
}

.logo h4 {
   font-family: 'Josefin Sans Light';
}

.nav-wrapper #nav-main {
   width: 100%;
}

#nav-main ul {
   display: flex;
   justify-content: space-around;
}

#nav-main li a {
   color: var(--matte-black);
   font-size: var(--small-text);
   letter-spacing: 0.2rem;
   font-family: 'Overpass Light';
}

#nav-main li a:hover {
   border-bottom: 0.1rem solid var(--matte-black);
}

.nav-wrapper #hamburger {
   display: none;
}

/* FOOTER */
footer .footer-upper {
   display: flex;
   padding: 5rem 5vw;   /* 90% of the container width */
   background: var(--bg-primary);
}

.footer-upper .instagram-footer {
   flex: 1;
}

.instagram-footer span {
   display: block;
   margin-bottom: 3rem;
   font-size: var(--small-text);
}

.instagram-footer .img-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: calc(0.5rem + 0.5vw);
}

.img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.footer-upper .inquire-footer {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-left: 5rem;
}

.inquire-footer p {
   margin: clamp(2rem, 1.8rem + 1vw, 4rem) 0;
   line-height: 1.8;
   font-size: var(--small-text);
}

.inquire-footer a {
   font-size: var(--small-text);
}

footer .footer-lower {
   padding: 5rem 5vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-footer ul {
   display: flex;
}

.nav-footer a {
   margin-left: clamp(1.5rem, 1rem + 1vw, 3rem);
   font-size: var(--small-text);
}

.nav-footer ul li:first-child a {
   margin-left: 0;
}

/* Section Fade-In Animation */
.section-fade-in {
   opacity: 0;
}

@keyframes sectionFadeIn {
   from {
      transform: translateY(200px);
      opacity: 0;
   }

   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@media (max-width: 800px) {
   /* NAVIGATION */
   header .nav-wrapper {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
   }

   .nav-wrapper .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
   }

   #nav-main ul {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding: 15vh 0;   /* 70% of the height */
      background-color: #000;
      opacity: 0;
      z-index: -10;
      pointer-events: none;
      /* transition: opacity 0.3s ease-in; */
   }

   /* Links initially hidden */
   #nav-main li {
      opacity: 0;
      letter-spacing: 0.2rem;
   }

   #nav-main.active ul {
      opacity: 1;
      z-index: 10;
      pointer-events: auto;
   }

   #nav-main.active ul li a {
      color: var(--white);
   }

   #nav-main.active ul li a:hover {
      border-bottom: 1px solid var(--white);
   }

   .nav-wrapper #hamburger {
      font-size: calc(2rem + 1vw);
      display: block;
      color: var(--matte-black);
      cursor: pointer;
      transition: transform 0.5s ease;
   }

   #hamburger.active {
      color: var(--white);
      position: fixed;
      top: 4rem;
      right: 2rem;
      transform: rotate(2turn);
      z-index: 10;
   }

   @keyframes navLinksFadeIn {
      from {
         transform: translateY(-50px);
      }

      to {
         opacity: 1;
         transform: translateY(0px);
      }
   }

   /* FOOTER */
   footer .footer-upper {
      flex-direction: column;
   }

   .footer-upper .instagram-footer {
      text-align: center;
   }

   .instagram-footer .img-container {
      grid-template-columns: repeat(2, 1fr);
   }

   .footer-upper .inquire-footer {
      padding: 3rem 0 0 0;
      align-items: center;
      text-align: center;
   }

   footer .footer-lower {
      flex-direction: column-reverse;
      text-align: center;
   }

   .footer-lower .nav-footer {
      margin-bottom: 3rem;
   }
}

@media (max-width: 500px) {
   html {
      /* Header Sizes */
      --header1: 2.5rem;
      --header2: 2.5rem;
      --header3: 2rem;
      --header4: 1rem;
      /* Text Sizes */
      --text: 1.2rem;
      --small-text: 1rem;
   }

   h1, h3, h4 {
      letter-spacing: 0.1rem;
   }
   h2 {
      letter-spacing: 0.2rem;
   }
}

/* UTILITY CLASSES */

.container {
   width: 90%;
   max-width: 1500px;
   margin: 0 auto;
}

.btn {
   border: none;
   border-bottom: 1px solid var(--matte-black);
   font-style: italic;
   cursor: pointer;
   background: transparent;
   color: var(--matte-black);
   font-family: 'Overpass Regular', sans-serif;
}

.btn:focus {
   outline: none;
}