/* BASE SETTINGS */
*, 
*::before, 
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* Heading Font */
@font-face {
   font-family: 'Josefin Sans Thin';
   src: url(./../fonts/JosefinSans-Thin.ttf);
}

@font-face {
   font-family: 'Josefin Sans Light';
   src: url(./../fonts/JosefinSans-Light.ttf);
}

/* Text Font */
@font-face {
   font-family: 'Overpass Light';
   src: url(./../fonts/Overpass-Light.ttf);
}

@font-face {
   font-family: 'Overpass Regular';
   src: url(./../fonts/Overpass-Regular.ttf);
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   /* Header Sizes */
   --h1: calc(2rem + 1.25vw);
   --h2: calc(2.5rem + 1.25vw);
   --h3: calc(1.3rem + 1.25vw);
   --h4: calc(0.8rem + 0.5vw);
   /* Text Sizes */
   --font-m: calc(1rem + 0.5vw);
   --font-s: calc(0.8rem + 0.5vw);
   /* Colors */
   --c-white: #fff;
   --c-black: #333;
   --c-ghost-white: #f4f2f1;
   --c-mustard: #ff971d;
   /* Padding & Margins */
   --section-padding: calc(5rem + 3vw) 0;
   --page-head-margin: calc(5rem + 2vw);
}

body {
   background: var(--c-white);
   color: var(--c-black);
   font-family: 'Overpass Regular', sans-serif;
   line-height: 1.5;
}

h1 {
   font-family: 'Josefin Sans Thin', sans-serif;
   font-size: var(--h1);
   letter-spacing: calc(0.1rem + 0.25vw);
}
h2 {
   font-family: 'Josefin Sans Light', sans-serif;
   font-size: var(--h2);
}
h3 {
   font-family: 'Josefin Sans Light', sans-serif;
   font-size: var(--h3);
}
h4 {
   font-family: 'Josefin Sans Light', sans-serif;
   font-size: var(--h4);
}

div, span, p, a, li, button, label, input {
   font-size: var(--font-m);
}

ul {
   list-style: none;
}

a {
   color: var(--c-black);
   text-decoration: none;
}

button {
   font-family: inherit;
}

/* UTILITY CLASSES */
.container {
   width: 90%;
   max-width: 1440px;
   margin: 0 auto;
}

.btn {
   background: transparent;
   border: none;
   border-bottom: 1px solid var(--c-black);
   color: var(--c-black);
   cursor: pointer;
   font-style: italic;
}

.btn:focus {
   outline: none;
}

/* NAVIGATION */
.main-head {
   background: var(--c-ghost-white);
   text-transform: uppercase;
   padding: 4rem 0;
}

.main-head .logo {
   text-align: center;
   pointer-events: none;
   margin-bottom: 4rem;
}

.nav-main ul {
   display: flex;
   justify-content: space-around;
}

.nav-link {
   color: var(--c-black);
   font-family: 'Overpass Light';
   font-size: var(--font-s);
   letter-spacing: 2px;
}

.nav-link:hover {
   border-bottom: 1px solid var(--c-black);
}

.main-head .hamburger {
   display: none;
}

/* FOOTER */
footer .footer-upper {
   background: var(--c-ghost-white);
   padding: var(--section-padding);
}

.footer-upper .container {
   display: flex;
}

.footer-upper .instagram-footer {
   flex: 1;
}

.instagram-footer span {
   display: block;
   margin-bottom: 3rem;
}

.instagram-footer .img-wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0.5rem;
}

.img-wrapper img {
   width: 100%;
   object-fit: cover;
   display: block;
}

.footer-upper .inquire-footer {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-left: 5rem;
}

.inquire-footer p {
   margin: calc(1.8rem + 0.80vw) 0;
   line-height: 1.8;
   font-size: var(--font-s);
}

.inquire-footer a {
   font-size: var(--font-s);
}

footer .footer-lower {
   padding: 5rem 0;
}

.footer-lower .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-footer ul {
   display: flex;
}

.nav-footer a {
   margin-left: calc(1rem + 1vw);
   font-size: var(--font-s);
}

.nav-footer ul li:first-child a {
   margin-left: 0;
}

/* Section Fade-In Animation */
.section-fade-in {
   opacity: 0;
}

@keyframes sectionFadeIn {
   from {
      transform: translateY(200px);
      opacity: 0;
   }

   to {
      transform: translateY(0);
      opacity: 1;
   }
}

@media (max-width: 800px) {
   /* NAVIGATION */
   .main-head .container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }

   .main-head .logo {
      position: absolute;
      left: 50%;
      margin: 0;
      transform: translateX(-50%);
   }

   .nav-main ul {
      background-color: #000;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 15vh 0;
      opacity: 0;
      z-index: -10;
      pointer-events: none;
      /* transition: opacity 0.3s ease-in; */
   }

   /* Links initially hidden */
   .nav-main li {
      opacity: 0;
      letter-spacing: 2px;
   }

   .nav-main.active ul {
      opacity: 1;
      z-index: 10;
      pointer-events: auto;
   }

   .nav-main.active .nav-link {
      color: var(--c-white);
   }

   .nav-main.active .nav-link:hover {
      border-bottom: 1px solid var(--c-white);
   }

   .main-head .hamburger {
      display: flex;
      color: var(--c-black);
      cursor: pointer;
      font-size: calc(2rem + 1vw);
      transition: transform 0.5s ease;
   }

   .hamburger.active {
      color: var(--c-white);
      position: fixed;
      top: 4rem;
      z-index: 10;
      transform: rotate(2turn);
   }

   @keyframes navLinksFadeIn {
      from {
         transform: translateY(-50px);
      }

      to {
         opacity: 1;
         transform: translateY(0px);
      }
   }

   /* FOOTER */
   .footer-upper .container {
      flex-direction: column;
   }

   .footer-upper .instagram-footer {
      text-align: center;
   }

   .instagram-footer .img-wrapper {
      grid-template-columns: repeat(2, 1fr);
   }

   .footer-upper .inquire-footer {
      padding: 5rem 0 0 0;
      align-items: center;
      text-align: center;
   }

   .footer-lower .container {
      flex-direction: column-reverse;
      text-align: center;
   }

   .footer-lower .nav-footer {
      margin-bottom: 3rem;
   }
}

@media (max-width: 500px) {
   html {
      /* Header Sizes */
      --h1: 2.5rem;
      --h2: 2.5rem;
      --h3: 2rem;
      --h4: 1rem;
      /* Text Sizes */
      --font-m: 1.2rem;
      --font-s: 1rem;
   }

   h1 {
      letter-spacing: 0.1rem;
   }
}