/* NAVIGATION & SHOWCASE */
.header-showcase {
   min-height: 100vh;
   position: relative;
   overflow: hidden;
}

.main-head {
   background: transparent;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
}

.logo h1,
.logo h4,
.nav-link {
   color: var(--c-white);
}

.nav-link:hover {
   border-bottom: 1px solid var(--c-white);
}

.main-head .hamburger {
   color: var(--c-white);
}

/* Auto slideshow */
.showcase .slide {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.slide.current {
   opacity: 1;
}

/* Overlay for showcase */
.header-showcase::after {
   content: "";
   background: rgba(0, 0, 0, 0.2);
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

/* INTRODUCTION */
.introduction {
   background: var(--c-white-ghost);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   text-transform: uppercase;
   padding: calc(10rem + 3vw) 2rem;
}

.introduction .text-xl {
   color: var(--c-mustard);
   font-family: var(--ff-heading);
   font-weight: 350;
   margin: 4rem 0;
}

.introduction p {
   font-size: var(--fs-300);
   font-weight: 700;
   letter-spacing: 2px;
   line-height: 2.2;
}

/* FEATURED GALLERY */
.featured-gallery {
   padding: var(--padding-section);
}

.featured-gallery .container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: calc(0.5rem + 0.1vw);
}

.featured-gallery img {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.gallery1 {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0.5rem;
}
.gallery1 h2 {
   font-size: var(--fs-400);
}
.gallery1 div {
   font-size: var(--fs-500);
}
.gallery2 {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}
.gallery3 {
   grid-column: 3 / 5;
   grid-row: 1 / 3;
}
.gallery4 {
   grid-column: 1 / 3;
   grid-row: 2 / 4;
}
.gallery5 {
   grid-column: 3 / 4;
   grid-row: 3 / 4;
}
.gallery6 {
   grid-column: 4 / 5;
   grid-row: 3 / 4;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 1.4;
   text-align: center;
   padding: 0.5rem;
}
.gallery6 a {
   margin-top: 1rem;
}

/* FEATURED REVIEWS */
.featured-reviews {
   background: var(--c-white-ghost);
   height: 50rem;
   padding: 5rem 0;
}

.featured-reviews .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 100%;
}

.featured-reviews h2 {
   font-size: var(--fs-600);
   text-align: center;
}

.featured-reviews .reviews-wrapper {
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

.reviews-wrapper .review {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   opacity: 0;
   transform: translateX(100%);
   transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.review.active {
   opacity: 1;
   transform: translateX(0);
}

.review.left {
   transform: translateX(-100%);
}

.review h3 {
   font-size: var(--fs-400);
   margin-bottom: 1.5rem;
}

.review p {
   font-style: italic;
   font-weight: 300;
   line-height: 1.7;
}

.featured-reviews .review-nav {
   display: flex;
   align-items: center;
}

.review-nav button {
   background: transparent;
   border: none;
   cursor: pointer;
   font-size: calc(var(--fs-300) + 1rem);
}

.review-nav button:focus {
   outline: none;
}

.review-nav p {
   margin: 0 2rem;
   font-size: calc(var(--fs-300) + 0.2rem);
}

/* ABOUT */
.about {
   padding: var(--padding-section);
}

.about .container {
   display: flex;
}

.about .about-text {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-right: 5rem;
}

.about-text span {
   font-size: var(--fs-300);
}

.about-text h2 {
   color: var(--c-mustard);
   margin: 2rem 0 3rem 0;
}

.about-text a {
   margin-top: 3rem;
}

.about .about-img {
   flex: 1;
}

.about-img img {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
}

@media (max-width: 800px) {
   /* FEATURED GALLERY */
   .featured-gallery .container {
      grid-template-columns: 1fr;
   }

   .featured-gallery .container > * {
      grid-column: span 1;
      grid-row: span 1;
   }

   .gallery2,
   .gallery4,
   .gallery5 {
      display: none;
   }
   .gallery6 {
      background: var(--c-white-ghost);
   }

   /* FEATURED REVIEWS */
   .featured-reviews {
      height: 55rem;
   }

   /* ABOUT */
   .about .container {
      flex-direction: column;
   }

   .about .about-text {
      margin: 0 0 5rem 0;
   }

   .about-text br {
      display: none;
   }

   .about-text h4 {
      word-spacing: 2px;
   }
}

@media (max-width: 500px) {
   /* FEATURED REVIEWS */
   .featured-reviews {
      padding: 4rem 0;
   }
}
