/* JOURNAL PAGE */
.journal-page {
   padding: var(--padding-section);
}

.journal-page .container {
   width: 60%;
}

.journal-page header {
   text-align: center;
   margin-bottom: calc(4rem + 1.5vw);
}

.journal-page h2 {
   font-size: var(--fs-500);
}

.journal-page .images-container {
   min-height: 100vh;
}

.journal-page img {
   width: 100%;
}

@media (max-width: 800px) {
   .journal-page .container {
      width: 90%;
   }
}
