/* JOURNAL */
.journal {
   padding: var(--section-padding);
}

.journal header {
   text-align: center;
   margin-bottom: var(--page-head-margin);
   text-transform: uppercase;
}

.journal header h2 {
   color: var(--special-color);
   letter-spacing: calc(0.4rem + 0.30vw );
}

.journal .pages-wrapper {
   margin-top: 5rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: calc(5rem + 3vw) calc(5rem + 1vw);
}

.page .page-title {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   border-bottom: 1px solid var(--matte-black);
   margin-bottom: 2rem;
}

/* For hover effect */
.page a {
   display: block;
   width: 100%;
   overflow: hidden;
}
.page a img {
   width: 100%;
   display: block;
   transition: all 0.5s ease;
}
.page a:hover img {
   transform: scale(1.1);
}

@media (max-width: 800px) {
   .journal .pages-wrapper {
      grid-template-columns: 1fr;
   }
}