/* JOURNAL PAGE */
.journal-page {
   padding: var(--section-padding);
}

.journal-page .container {
   width: 60%;
}

.journal-page header {
   text-align: center;
   margin-bottom: calc(4rem + 1.5vw);
}

.journal-page img {
   width: 100%;
}

@media (max-width: 800px) {
   .journal-page .container {
      width: 90%;
   }
}