#client-reviews {
   padding: calc(4.5rem + 1.5vw) 0;
}

#client-reviews header {
   text-align: center;
   margin-bottom: calc(4rem + 1vw);
}

#client-reviews header h2 {
   text-transform: uppercase;
   color: var(--special-color);
   letter-spacing: calc(0.4rem + 0.30vw );
}

#client-reviews header h4 {
   font-family: 'Overpass Light', sans-serif;
}

#client-reviews .reviews-wrapper {
   width: 70%;
   margin: 0 auto;
   max-width: 1440px;
}

.reviews-wrapper .review {
   margin-bottom: calc(3rem + 1.5vw);
}

.reviews-wrapper .review:last-child {
   margin-bottom: 0;
}

.review h4 {
   text-transform: uppercase;
   margin-bottom: calc(1rem + 0.25vw);
   font-size: var(--text);
}

.review p {
   line-height: 2;
   font-style: italic;
}

@media (max-width: 800px) {
   #client-reviews .reviews-wrapper {
      width: 80%;
   }
}

@media (max-width: 500px) {
   #client-reviews .reviews-wrapper {
      width: 90%;
      padding: 0 1rem;
   }
}