/* CLIENT REVIEWS */
.client-reviews {
   padding: var(--section-padding);
}

.client-reviews header {
   text-align: center;
   margin-bottom: var(--page-head-margin);
   text-transform: uppercase;
}

.client-reviews header h2 {
   text-transform: uppercase;
   color: var(--special-color);
   letter-spacing: calc(0.4rem + 0.30vw );
}

.client-reviews header h4 {
   font-family: 'Overpass Light', sans-serif;
}

.client-reviews .reviews-wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: calc(4rem + 3vw) calc(2rem + 3vw);
   margin-top: 5rem;
}

.reviews-wrapper .review {
   background: var(--bg-primary);
   padding: 4rem calc(2rem + 1.5vw);
}

.review h3 {
   text-transform: uppercase;
   margin-bottom: calc(2rem + 1.5vw);
   text-align: center;
}

.review p {
   line-height: 2;
   font-style: italic;
}

@media (max-width: 800px) {
   .client-reviews .reviews-wrapper {
      grid-template-columns: 1fr;
   }

   .review p {
      text-align: center;
   }
}

@media (max-width: 500px) {
   .reviews-wrapper .review {
      padding: 4rem 2rem;
   }
}