/* BASE SETTINGS */
*, 
*::before, 
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* Logo Font */
@font-face {
   font-family: 'Josefin Sans Thin';
   src: url(./../fonts/JosefinSans-Thin.ttf);
}
@font-face {
   font-family: 'Josefin Sans Light';
   src: url(./../fonts/JosefinSans-Light.ttf);
}

/* Heading Font */
@font-face {
   font-family: 'Tenderness';
   src: url(./../fonts/Tenderness.otf);
}

/* General Font */
@font-face {
   font-family: 'Overpass Light';
   src: url(./../fonts/Overpass-Light.ttf);
}
@font-face {
   font-family: 'Overpass Regular';
   src: url(./../fonts/Overpass-Regular.ttf);
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   /* Header Sizes */
   --header1: calc(2rem + 1.25vw);
   --header2: calc(2.5rem + 1.25vw);
   --header3: calc(1.3rem + 1.25vw);
   --header4: calc(0.8rem + 0.5vw);
   /* Text Sizes */
   --text: calc(1rem + 0.5vw);
   --small-text: calc(0.8rem + 0.5vw);
   /* Colors */
   --white: #fff;
   --matte-black: #333;
   --bg-primary: #f4f2f1;
   --special-color: #ff971d;
}

body {
   background: var(--white);
   color: var(--matte-black);
   font-family: 'Overpass Regular', sans-serif;
   line-height: 1.5;
}

h1 {
   font-family: 'Josefin Sans Thin', sans-serif;
   font-size: var(--header1);
   letter-spacing: calc(0.1rem + 0.25vw);
}

h2 {
   font-family: 'Tenderness', sans-serif;
   font-size: var(--header2);
   letter-spacing: calc(0.1rem + 0.25vw);
}

h3 {
   font-family: 'Tenderness', sans-serif;
   font-size: var(--header3);
   letter-spacing: calc(0.1rem + 0.10vw);
}

h4 {
   font-family: 'Tenderness', sans-serif;
   font-size: var(--header4);
   letter-spacing: calc(0.1rem + 0.10vw);
}

ul {
   list-style: none;
}

a {
   color: var(--matte-black);
   text-decoration: none;
}

p, span, li, a, label, input, button {
   font-size: var(--text);
}

/* NAVIGATION */
#home header {
   min-height: 100vh;
   overflow: hidden;
   position: relative;
}

header .nav-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5rem 2rem;
   text-transform: uppercase;
}

.nav-wrapper .logo {
   margin-bottom: 4rem;
   text-align: center;
   pointer-events: none;
}

.logo h1 {
   color: var(--white);
}

.logo h4 {
   color: var(--white);
   font-family: 'Josefin Sans Light';
}

.nav-wrapper #nav-main {
   width: 100%;
}

#nav-main ul {
   display: flex;
   justify-content: space-around;
}

#nav-main li a {
   color: var(--white);
   font-size: var(--small-text);
   letter-spacing: 0.2rem;
   font-family: 'Overpass Light';
}

#nav-main li a:hover {
   border-bottom: 0.1rem solid var(--white);
}

.nav-wrapper #hamburger {
   display: none;
}

/* Auto Slideshow */
.slide {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.slide.current {
   opacity: 1;
}

/* Auto Slideshow Images */
.slide:first-child {
   background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
      url(./../img/slides/1.jpg) no-repeat center center/cover;
}

.slide:nth-child(2) {
   background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
      url(./../img/slides/2.jpg) no-repeat center center/cover;
}

.slide:nth-child(3) {
   background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
      url(./../img/slides/3.jpg) no-repeat center center/cover;
}

.slide:nth-child(4) {
   background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
      url(./../img/slides/4.jpg) no-repeat center center/cover;
}

.slide:nth-child(5) {
   background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
      url(./../img/slides/5.jpg) no-repeat center center/cover;
}

.slide:nth-child(6) {
   background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
      url(./../img/slides/6.jpg) no-repeat center center/cover;
}

/* INTRODUCTION */
#introduction {
   min-height: 50rem;
   background: var(--bg-primary);
   padding: 2rem;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

#introduction h2 {
   margin: 4rem 0;
   color: var(--special-color);
}

#introduction p {
   font-size: var(--small-text);
   letter-spacing: 0.2rem;
   font-weight: 700;
   line-height: 2.2;
}

/* FEATURED GALLERY */
#featured-gallery {
   padding: 10rem 0;
}

#featured-gallery .gallery-inner-container {
   width: 90%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: calc(0.5rem + 0.5vw);
}

.gallery1 {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   padding: 0.75rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.gallery2 {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}
.gallery3 {
   grid-column: 3 / 5;
   grid-row: 1 / 3;
}
.gallery4 {
   grid-column: 1 / 3;
   grid-row: 2 / 4;
}
.gallery5 {
   grid-column: 3 / 4;
   grid-row: 3 / 4;
}
.gallery6 {
   grid-column: 4 / 5;
   grid-row: 3 / 4;
   padding: 0.75rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.gallery6 a {
   font-style: italic;
   margin-top: clamp(1rem, 1rem + 0.5vw, 2.5rem);
}

.gallery-inner-container img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* FEATURED REVIEWS */
#featured-reviews {
   background: var(--bg-primary);
   height: 50rem;
   padding: 5rem 0;
}

#featured-reviews .reviews-wrapper {
   width: 90%;
   max-width: 1440px;
   margin: 0 auto;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.reviews-wrapper h2 {
   text-align: center;
}

.reviews-container {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.reviews-container .review {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   opacity: 0;
   transform: translateX(100%);
   transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.review.active {
   opacity: 1;
   transform: translateX(0);
}

.review.left {
   transform: translateX(-100%);
}

.review h4 {
   font-size: var(--text);
   margin-bottom: 1.5rem;
}

.review p {
   font-family: 'Overpass Light';
   font-style: italic;
   line-height: 1.7;
}

#featured-reviews .review-nav {
   display: flex;
   align-items: center;
}

.review-nav button {
   border: none;
   cursor: pointer;
   background: transparent;
   font-size: calc(var(--header4) + 1rem);
}

.review-nav button:focus {
   outline: none;
}

.review-nav p {
   margin: 0 2rem;
   font-size: calc(var(--header4) + 0.2rem);
}

/* ABOUT */
#about {
   padding: 10rem 0;
}

#about .about-wrapper {
   width: 90%;
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
}

.about-wrapper .text-area {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-right: 5rem;
}

.text-area h2 {
   margin-top: clamp(2rem , 1rem + 1.25vw, 3rem);
   margin-bottom: clamp(3.5rem, 2rem + 1.25vw, 5rem);
   color: var(--special-color);
}

.text-area a {
   margin-top: clamp(3rem, 2.5rem + 1.5vw, 5rem);
}

.about-wrapper .about-img {
   flex: 1;
}

.about-img img {
   display: block;
   height: 100%;
   width: 100%;
   object-fit: cover;
}

/* FOOTER */
footer {
   /* padding: 0 5rem; */
   /* border: 2px solid red; */
}

footer .footer-upper {
   display: flex;
   padding: 5rem 5vw;   /* 90% of the container width */
   background: var(--bg-primary);
}

/* Left side */
.footer-upper .instagram-footer {
   flex: 1;
}

.instagram-footer span {
   display: block;
   margin-bottom: 3rem;
   font-size: var(--small-text);
}

.instagram-footer .insta-img-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
   gap: calc(0.5rem + 0.5vw);
}

.insta-img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

/* Right side */
.inquire-footer {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-left: 5rem;
   /* border-bottom: 1px solid var(--matte-black); */
}

.inquire-footer p {
   margin: clamp(2rem, 1.8rem + 1vw, 4rem) 0;
   line-height: 1.8;
   font-size: var(--small-text);
}

.inquire-footer a {
   font-size: var(--small-text);
   /* font-style: italic; */
}

footer .footer-lower {
   padding: 5rem 5vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-footer ul {
   display: flex;
}

.nav-footer a {
   margin-left: 2.5rem;
   font-size: var(--small-text);
}

.nav-footer ul li:first-child a {
   margin-left: 0;
}

@media (min-width: 1800px) {
   html {
      /* font-size: 80%; */
      /* Header Sizes */
      /* --header2: 50px; */
      /* --header3: 38px; */
      /* --header4: 20px; */
      /* Text Sizes */
      /* --text: 26px; */
      /* --small-text: 20px; */
   }
}